* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo home_model_kontak';
}
.navbar .logo {
    grid-area: logo;
    margin-left: 50px;
    font-size: 50px;
}
.navbar .home_model_kontak {
    grid-area: home_model_kontak;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
}
.navbar .home_model_kontak div {
    margin: 20px;
    font-size: 25px;
}
.navbar .home_model_kontak div:hover {
    font-size: 26px;
} 
.navbar .home_model_kontak a {
    color:white;
    text-decoration: none;
}
.judul {
    position: absolute;
    top: 130px;
    left: 40px;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
hr {
    width: 400px;
    font-weight: bolder;
}
.pilih {
    position: absolute;
    right: 45%;
    bottom: 50px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kanan_kiri_tulisan {
    bottom: 160px;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kiri, .kanan {
    padding: 5px;
    color: black;
    font-size: 40px;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.kiri:hover, .kanan:hover {
    font-size: 45px;
}
.model1, .model2, .model3, .model4, .model5 {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    /* font-family: 'Orbitron', sans-serif; */
}
.model1 {
    display: block;
}
.model2 {
    display: none;
}
.model3 {
    display: none;
}
.model4 {
    display: none;
}
.model5 {
    display: none;
}
.button_beli {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    background-color: rgba(48, 134, 66, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button_beli p {
    color: white; 
    font-size: 38px;
    font-family: 'Mooli', sans-serif;
}
.button_beli:hover {
    background-color: rgba(18, 102, 35, 0.8);
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer .gambar1 img, .footer .gambar2 img, .footer .gambar3 img{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}
@media screen and (max-width: 1166px) {
    .judul {
        font-size: 40px;
    }
    hr {
        width: 300px;
    }
    .model1, .model2, .model3, .model4, .model5 {
        font-size: 35px;
    }
    .kiri, .kanan {
        font-size: 30px;
    }
    .kiri:hover, .kanan:hover {
        font-size: 35px;
    }
    .button_beli {
        width: 140px;
        height: 50px;
    }
    .button_beli p {
        font-size: 30px;
    }
}
@media screen and (max-width: 890px) {
    .judul {
        font-size: 35px;
    }
    hr {
        width: 200px;
    }
    .model1, .model2, .model3, .model4, .model5 {
        font-size: 35px;
    }
    .kiri, .kanan {
        font-size: 30px;
    }
    .kiri:hover, .kanan:hover {
        font-size: 35px;
    }
    .button_beli {
        width: 140px;
        height: 50px;
    }
    .button_beli p {
        font-size: 30px;
    }
}
@media screen and (max-width: 782px) {
    .judul {
        font-size: 35px;
    }
    hr {
        width: 200px;
    }
    .model1, .model2, .model3, .model4, .model5 {
        font-size: 35px;
    }
    .kiri, .kanan {
        font-size: 30px;
    }
    .kiri:hover, .kanan:hover {
        font-size: 35px;
    }
    .button_beli {
        width: 140px;
        height: 50px;
    }
    .button_beli p {
        font-size: 30px;
    }
}
@media screen and (max-width: 612px) {
    .judul {
        font-size: 30px;
    }
    hr {
        width: 200px;
    }
    .pilih {
        right: 40%;
    }
    .model1, .model2, .model3, .model4, .model5 {
        font-size: 30px;
    }
    .kiri, .kanan {
        font-size: 25px;
    }
    .kiri:hover, .kanan:hover {
        font-size: 30px;
    }
    .button_beli {
        width: 140px;
        height: 50px;
    }
    .button_beli p {
        font-size: 30px;
    }
}
@media screen and (max-width: 554px) {
    .footer div p {
        font-size: 12px;
    }
}
@media screen and (max-width: 461px) {
    .footer {
        justify-content: center;
    }
    .footer div p {
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .navbar .logo {
        margin-left: 20px;
        font-size: 45px;
    }
    .navbar .home_model_kontak div {
        margin: 20px;
        font-size: 20px;
    }
    .navbar .home_model_kontak div:hover {
        font-size: 21px;
    }
}